.wrapper{
    width: 100%;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.subscription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.subscription h2 {
    font-size: 25px;
    color: cyan;
    font-weight: bold;
}

.subscription p {
    font-size: 12px;
    font-weight: 200px;
    color: lightgray;
}

#subscribebox{
    width: 700px;
    max-width: 100%;
    margin: auto;
    background: #282828;
    text-align: center;
    border-radius: 4px;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#email-input{
    width: 400px;
    max-width: 100%;
    font-family: inherit;
    color: #0f1013;
    text-align: left;
    font-weight: 500;
    border-radius: 2px;
    border: 0px;
    padding: 15px 0px 15px 20px;
    font-size: 14px;
    background: #F0F4EF;
}

#email-input:focus, #email-input:hover{
    outline: 0px;
}

#subscribe-button{
    border: 0px;
    width: 150px;
    max-width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #F0F4EF;
    font-family: inherit;
    background: #0f1013;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    outline: 0;
    transition: all 0.2s;
}

#subscribe-button:hover{
    color: cyan;

}

@media screen and (max-width: 700px) {
    #subscribe-button{
        width: 98%;
        margin: 5px;
        border-radius: 2px;
    }
    #email-input{
        width: 98%;
        margin: 5px;
        text-align: center;
    }
    #subscribebox{
        width: 100%;
    }
    .subscription {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .subscription {
        grid-template-columns: repeat(1, 1fr);
    }
}
